<div class="container-fluid">
  <div class="jumbotron text-center">
    <section class="py-5">
      <div class="container-fluid">
        <div class="row text-muted text-center mission">
          <div class="col m-4">
            <h2 class="display-4 mb-4">Grupo PI - B</h2>
            <div class="underline-dark mb-4"></div>
            <p class="lead">
              Equipe composta de 10 integrantes, responsáveis pela Obra do Galpão de estrutura metalica com alvenaria.
              Abaixo voce pode conferir detalhes do projeto, alem de salvar suas anotações para compartilhar com a
              equipe
            </p>
          </div>
        </div>

        <br />
        <br />
        <br />

        <div class="row text-muted text-center mission">
          <div class="col m-4">
            <h2 class="display-4 mb-4">Atualização do Projeto: Anotações</h2>
            <div class="underline mb-4"></div>
            <p class="lead">Insira abaixo anotações pertinentes ao projeto.</p>
          </div>
        </div>

        <div class="row text-muted text-center mission">
          <div class="form-group col m-4 py-4">
            <textarea type="email" class="form-control my-2 p-2 input" placeholder="Explique sua duvida"></textarea>
            <label for="email" class="label">Explique sua duvida...</label><br /><br /><br /><br /><br />
            <button type="submit" class="btn btn-block p-2 font-weight-bold text-uppercase submit-button">
              Salvar Anotação
            </button>
          </div>
        </div>
        <div class="row text-muted text-center mission">
          <div class="col m-4">
            <h2 class="display-4 mb-4">Atualização do Projeto: Arquivos</h2>
            <div class="underline-dark mb-4"></div>
            <p class="lead">
              Faça o upload do arquivo de seu projeto. Apenas arquivos novos. Em caso de arquivo com meus nome, o
              sistema irá acusar repetição.
            </p>
            <div class="form-group col m-4 py-4">
              <input type="file" class="form-control my-2 p-2 input" placeholder="" />
              <label for="email" class="label">Faça Upload de seu arquivo</label>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
