.testimonial__name {
  margin: 0.2rem;
  color: #777;
  font-size: 4rem;
}

.testimonial__name_resume {
  margin: 0.2rem;
  color: rgb(22, 24, 23);
  font-size: 4rem;
}

.testimonial__subtitle {
  margin: 0;
  font-size: 1.1rem;
  color: #ccc;
}

.testimonial__subtitle a {
  color: inherit;
  text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: #7a7a7a;
}

.testimonial__text {
  margin: 0.2rem;
}

@media (min-width: 40rem) {
  .testimonial {
    margin: 3rem auto;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .testimonial__image-container {
    width: 100%;
  }

  .testimonial__info {
    width: 30%;
  }
}

ul,
ol {
  /*margin: 0;padding: 0;*/
  list-style: none;
}
li {
  background: rgb(35, 37, 37);
  color: #fff;
  counter-increment: myCounter;
  margin: 0 0 30px 0;
  padding: 13px;
  position: relative;
  top: 1em;
  border-radius: 0em 2px 1em 1em;
  padding-left: 2em;
  font-size: 1.2em;
  font-family: Constantia;
}
li:before {
  content: counter(myCounter, decimal-leading-zero);
  display: inline-block;
  text-align: center;
  font-size: 2em;
  line-height: 1.3em;
  background-color: #777;
  padding: 10px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: -40px;
  border-radius: 50%;
  font-family: exo;
}

li:nth-child(even) {
  background-color: #434a54;
}

.underline-dark {
  width: 150px;
  border: 3px solid #888;
  margin: auto;
}

.gallery-list-item {
  color: #777;
  cursor: pointer;
  user-select: none;
}

.active-item {
  color: #70aed2;
}
