<div class="container-fluid">
  <div class="jumbotron text-center">
    <div class="row text-muted text-center">
      <div class="col m-4">
        <h1 class="display-4 mb-4">Resumo do Projeto</h1>
        <div class="underline-dark mb-4"></div>
        <p class="lead"></p>
      </div>
    </div>

    <hr />

    <div class="row text-muted text-center">
      <div class="col m-4">
        <h1 class="display-4 mb-4">Procedimento Operacional</h1>
        <div class="underline-dark mb-4"></div>
        <p class="lead">Aqui você pode ver as fotos do terreno que foi utilizado no projeto</p>
      </div>
    </div>

    <ol class="list-numbered text-left mb-4">
      <li>ESTUDO DE VIABILIDADE DE OBRA</li>
      <li>ORÇAMENTO DE OBRA</li>
      <li>
        CRONOGRAMA FÍSICO-FINANCEIRO
        <p>
          3.1 Mapear todas as atividades e custos relacionados desde o começo até o fim da obra<br />
          3.2 Identificar custos mensais acumulados<br />
          3.3 Ter um planejamento de obra mais realista<br />
          3.4 Melhorar o controle do fluxo de caixa<br />
          3.5 Melhorar a previsibilidade da obra<br />
        </p>
      </li>
      <li>
        REGULARIZAÇÃO DA OBRA
        <p>
          4.1 Projeto Arquitetônico<br />
          4.2 Alvará de Construção<br />
        </p>
      </li>
      <li>
        EMPREENDIMENTO
        <p>5.1 Informações da área do empreendimento</p>
      </li>
      <li>
        MEDIDAS MITIGADORAS DO EIV
        <p>
          6.1 Impedir o estacionamento de caminhões ou a descarga de materiais em locais indevidos, prejudicando a
          circulação de automóveis;<br />
          6.2 Aspergir água na saída do canteiro de obras;<br />
          6.3 Realizar a limpeza dos pneus na saída do canteiro de obras;<br />
          6.4 Realizar a limpeza das vias se ocorrer derramamento de materiais ou solo do canteiro;<br />
          6.5 Realizar a manutenção preventiva e corretiva de máquinas e equipamentos;<br />
          6.6 Realização do transporte de materiais em horários pré-estabelecidos;<br />
          6.7 Evitar o trânsito de máquinas, equipamentos e caminhões em horários de pico;<br />
          6.8 Todas as manobras, cargas e descargas de materiais devem ocorrer dentro do canteiro de obras;<br />
          6.9 Monitoramento de poeira e poluição atmosférica (escapamento de caminhões e máquinas);<br />
          6.10 Executar a obra dentro do horário permitido e no menor tempo possível;<br />
        </p>
      </li>
      <li>
        LAYOUT GERAL DO CANTEIRO DE OBRAS
        <p>
          7.1 Acessos de pessoas e veículos <br />
          7.2 Canteiro de obras <br />
        </p>
      </li>
      <li>
        ACOMPANHAMENTO DE ATIVIDADES DA OBRA
        <p>
          8.1 Segurança do trabalho<br />
          8.2 Diário de obra<br />
        </p>
      </li>

      <li>AJUSTANDO OS PRAZOS</li>
      <li>LACABAMENTO E LICENCIAMENTO</li>
    </ol>

    <hr class="mt-5" />

    <h1 class="testimonial__name mb-4">Mapa de Comparação</h1>
    <ul class="Unlist text-left mb-4">
      <li>Sala dos coordenadores</li>
      <li>Sala do administrativo</li>
      <li>Sala de reuniao</li>
      <li>Cozinha</li>
      <li>Banheiro</li>
      <li>Almoxarifado</li>
      <li>Refeitorio</li>
      <li>Estacionamento (carro, caminhão)</li>
      <li>Area para fazer forma</li>
      <li>Area de serra</li>
      <li>Deposito</li>
    </ul>

    <hr />

    <div class="row text-muted text-center">
      <div class="col m-4">
        <h1 class="display-4 mb-4">Artigos Externos</h1>
        <div class="underline-dark mb-4"></div>
        <p class="lead">Abaixo seguem links uteis relacionados ao projeto</p>
      </div>
    </div>

    <ul class="text-left display">
      <li>
        <a target="_blank" href="https://docs.google.com/document/d/1Cu-kPUtW9lRsyTDuQhsjHWThF4loYqi-9rFicWmTMJc/edit#"
          >Procedimento Operacional</a
        >
      </li>
      <br />
      <li>
        <a target="_blank" href="https://drive.google.com/open?id=1iU3WVCSkZckiOvKx7rNXHqdyZLD8gmXB"
          >Execução Detalhada</a
        >
      </li>
      <br />
      <li><a target="_blank" href="https://drive.google.com/open?id=1pvAJ3K1tPLv9zXgATUJk8dJ59bEW4ORl">NR-18</a></li>
      <br />
      <li>
        <a target="_blank" href="https://drive.google.com/open?id=1pshAxeFM-oWtuMkEhL_BPy35sjO1cvmM"
          >Orçamentos do Projeto</a
        >
      </li>
      <br />
    </ul>
  </div>
</div>
