@media only screen and (min-width: 300px) {
  .margin-testimonial {
    margin-top: 70px;
  }
  .img {
    width: 100%;
  }

  main {
    padding-top: 2.5rem;
  }

  .testimonial {
    font-size: 1.2rem;
  }

  /*.testimonial__list {
    width: 80%;
    margin: auto;
  }*/

  .testimonial__image-container {
    width: 100%;
    max-width: 40rem;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  }

  .testimonial__image {
    width: 100%;
    vertical-align: top;
  }

  .testimonial__info {
    text-align: right;
    padding: 0.9rem;
  }

  #customer-2.testimonial {
    text-align: right;
  }

  #customer-2 .testimonial__info {
    text-align: left;
  }

  .testimonial__name {
    margin: 0.2rem;
    color: #ff5454;
    font-size: 2rem;
  }

  .testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;
  }

  .testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }

  .testimonial__subtitle a:hover,
  .testimonial__subtitle a:active {
    color: #7a7a7a;
  }

  .testimonial__text {
    margin: 0.2rem;
  }
}

@media (min-width: 40rem) {
  .testimonial {
    margin: 3rem auto;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .testimonial__image-container {
    width: 100%;
  }

  .testimonial__info {
    width: 30%;
  }

  /* gallery */
  .underline-dark {
    width: 150px;
    border: 3px solid #888;
    margin: auto;
  }

  .gallery-list-item {
    color: #777;
    cursor: pointer;
    user-select: none;
  }

  .active-item {
    color: #70aed2;
  }
  /* end of gallery */

  /* mission */
  .mission {
    background: #151f20;
  }

  .underline {
    width: 150px;
    border: 3px solid #eee;
    margin: auto;
  }

  .fromLeft {
    animation-name: fromLeft;
    animation-duration: 3s;
  }

  .fromRight {
    animation-name: fromRight;
    animation-duration: 3s;
  }

  @keyframes fromLeft {
    0% {
      transform: translateX(-120px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fromRight {
    0% {
      transform: translateX(30px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  /* end of mission */

  .position-p {
    position: relative;
    right: 40px;
  }

  .position-b {
    position: relative;
    right: 35px;
  }

  .width-textarea {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .img {
    width: 100%;
  }

  main {
    padding-top: 2.5rem;
  }

  .testimonial {
    font-size: 1.2rem;
  }

  /*.testimonial__list {
    width: 80%;
    margin: auto;
  }*/

  .testimonial__image-container {
    width: 100%;
    max-width: 40rem;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  }

  .testimonial__image {
    width: 100%;
    vertical-align: top;
  }

  .testimonial__info {
    text-align: right;
    padding: 0.9rem;
  }

  #customer-2.testimonial {
    text-align: right;
  }

  #customer-2 .testimonial__info {
    text-align: left;
  }

  .testimonial__name {
    margin: 0.2rem;
    color: #ff5454;
    font-size: 2rem;
  }

  .testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;
  }

  .testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }

  .testimonial__subtitle a:hover,
  .testimonial__subtitle a:active {
    color: #7a7a7a;
  }

  .testimonial__text {
    margin: 0.2rem;
  }
}

@media (min-width: 40rem) {
  .testimonial {
    margin: 3rem auto;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .testimonial__image-container {
    width: 100%;
  }

  .testimonial__info {
    width: 30%;
  }

  /* gallery */
  .underline-dark {
    width: 150px;
    border: 3px solid #888;
    margin: auto;
  }

  .gallery-list-item {
    color: #777;
    cursor: pointer;
    user-select: none;
  }

  .active-item {
    color: #70aed2;
  }
  /* end of gallery */

  /* mission */
  .mission {
    background: #151f20;
  }

  .underline {
    width: 150px;
    border: 3px solid #eee;
    margin: auto;
  }

  .fromLeft {
    animation-name: fromLeft;
    animation-duration: 3s;
  }

  .fromRight {
    animation-name: fromRight;
    animation-duration: 3s;
  }

  @keyframes fromLeft {
    0% {
      transform: translateX(-120px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fromRight {
    0% {
      transform: translateX(30px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  /* end of mission */

  .position-p {
    position: relative;
    right: 40px;
  }

  .position-b {
    position: relative;
    right: 35px;
  }

  .width-textarea {
    width: 100%;
  }
}
