<div class="container-fluid">
  <div class="jumbotron text-center">
    <div>
      <div class="row text-muted text-center">
        <div class="col m-4">
          <h1 class="display-4 mb-4">Escopo do Projeto</h1>
          <div class="underline-dark mb-4"></div>
          <p class="lead"></p>
        </div>
      </div>
      <div class="testimonial" id="customer-1">
        <div class="testimonial__image-container">
          <img
            src="../../assets/George - Extrema - MG-A4 - Locacao + Perspectivas-1.jpg"
            alt=""
            class="testimonial__image"
          />
        </div>
        <div class="testimonial__info">
          <h1 class="testimonial__name">Extrema - MG-A4</h1>
          <h2 class="testimonial__subtitle">Locacao + Perspectivas</h2>
        </div>
      </div>

      <hr />

      <div class="testimonial" id="customer-2">
        <div class="testimonial__info">
          <h1 class="testimonial__name">Extrema - MG-A4</h1>
          <h2 class="testimonial__subtitle">Perspectivas 01</h2>
        </div>
        <div class="testimonial__image-container">
          <img src="../../assets/George - Extrema - MG-A4 - Perspectivas 01-1.jpg" alt="" class="testimonial__image" />
        </div>
      </div>

      <div class="testimonial margin-testimonial mt-5" id="customer-1">
        <div class="testimonial__image-container">
          <img src="../../assets/George - Extrema - MG-A4 - Perspectivas 02-1.jpg" alt="" class="testimonial__image" />
        </div>
        <div class="testimonial__info">
          <h1 class="testimonial__name">Extrema - MG-A4</h1>
          <h2 class="testimonial__subtitle">Perspectivas 02 <a href="tech-analysis.com"></a></h2>
          <p class="testimonial__text"></p>
        </div>
      </div>

      <hr />

      <div class="testimonial" id="customer-2">
        <div class="testimonial__info">
          <h1 class="testimonial__name">Extrema - MG-A4</h1>
          <h2 class="testimonial__subtitle">Perspectivas 03</h2>
          <p class="testimonial__text"></p>
        </div>
        <div class="testimonial__image-container">
          <a href="">
            <img src="../../assets/George - Extrema - MG-A4 - Perspectivas 03-1.jpg" alt="" class="testimonial__image"
          /></a>
        </div>
      </div>
    </div>

    <div class="row text-muted text-center">
      <div class="col m-4">
        <h1 class="display-4 mb-4">Canteiro de Obra</h1>
        <div class="underline-dark mb-4"></div>
        <p class="lead">Aqui você pode ver as fotos do terreno que foi utilizado no projeto</p>
      </div>
    </div>
    <!-- end of title -->
    <div class="container-fluid">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="filter new"><img src="../../assets/237bc7c7-18fd-44fe-8301-b8b8ab2c1556.jpg" width="300" /></div>
        <div class="filter free"><img src="../../assets/26cfb1d2-fdcb-44f8-886e-87fb89f57d04.jpg" width="300" /></div>
        <div class="filter pro"><img src="../../assets/30cfc569-2e99-4fc4-92f3-e30bdb9f47d7.jpg" width="300" /></div>
        <div class="filter new"><img src="../../assets/32f45bd5-d73f-47bc-816c-cabc3928e7d2.jpg" width="300" /></div>
        <div class="filter pro"><img src="../../assets/33cdfcd7-1004-4561-a33e-032eb6d05376.jpg" width="300" /></div>
        <div class="filter free"><img src="../../assets/3994ae31-85a5-4b06-842c-d0671a580280.jpg" width="300" /></div>
        <div class="filter pro"><img src="../../assets/3bac34ad-ae2b-4e37-8497-6bbf0b7e38b9.jpg" width="300" /></div>
        <div class="filter free"><img src="../../assets/45c838f2-fa9c-484c-b1c8-d252ca6ce99d.jpg" width="300" /></div>
        <div class="filter new"><img src="../../assets/5425a363-58d6-4fe1-8a80-c28deb2bc789.jpg" width="300" /></div>
        <div class="filter pro"><img src="../../assets/61a402b7-b7e5-421b-a75e-7d12d54c931f.jpg" width="300" /></div>
        <div class="filter free"><img src="../../assets/678203c9-bea1-4f2b-a65d-bf294fa184c1.jpg" width="300" /></div>
        <div class="filter pro">
          <img src="../../assets/745e91cb-e697-48f6-8ea8-15826afa1191 (1).jpg" width="300" />
        </div>
        <div class="filter new"><img src="../../assets/745e91cb-e697-48f6-8ea8-15826afa1191.jpg" width="300" /></div>
        <div class="filter free"><img src="../../assets/a5e5bbcb-1350-4d06-866a-206f042c040f.jpg" width="300" /></div>
        <div class="filter new"><img src="../../assets/b8f5c20f-eb06-463c-aa97-5500abda772e.jpg" width="300" /></div>
        <div class="filter pro"><img src="../../assets/bf46ebd1-d40c-4893-b660-f479946106ff.jpg" width="300" /></div>
        <div class="filter pro"><img src="../../assets/cf3668c2-84cf-4a0b-8859-7276beb30ec7.jpg" width="300" /></div>
        <div class="filter pro"><img src="../../assets/d6b20f89-412e-4dca-ab30-11a4c474a024.jpg" width="300" /></div>
        <div class="filter pro"><img src="../../assets/dc8740ed-b6a2-40a8-98c5-d2a0ce3942a1.jpg" width="300" /></div>
        <div class="filter pro"><img src="../../assets/f34229a2-694c-4eab-b5b0-50b511a35609.jpg" width="300" /></div>
        <div class="filter pro"><img src="../../assets/f50e530b-576e-48ed-8bb9-560f5ecee3c4.jpg" width="300" /></div>
        <div class="filter pro"><img src="../../assets/fb2d2d31-6e65-448b-9baf-d1945bdecce0.jpg" width="300" /></div>
      </div>
    </div>

    <div class="row text-muted text-center img">
      <div class="col m-4">
        <h2 class="display-4 mb-4">Banner do Projeto</h2>
        <div class="underline-dark mb-4"></div>
        <img class="img" src="../../assets/banner.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
