<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1 class="deepshadow">Projeto Interdisciplinar - 5B</h1>

    <!-- mission -->
    <section class="p-5 mission">
      <div class="container-fluid">
        <!-- title -->
        <div class="row text-muted text-center">
          <div class="col m-4">
            <h2 class="display-4 mb-4">Nossa Missão</h2>
            <div class="underline-dark mb-4"></div>
            <p class="lead">
              Nossa missão é entregar empreendimentos bem elaborados, visando um projeto coeso, de custo adequedo as
              necessidades de nossos clientes, visando qualidade, eficiência e entrega.
            </p>
          </div>
        </div>
        <!-- end of title -->
        <div class="row my-5">
          <div class="col-md-4 text-center">
            <i class="fas fa-cogs fa-5x text-danger mb-4"></i>
            <h2 class="text-white mb-3">Criatividade</h2>
            <p class="text-muted">
              Pensamos diferente. Utilizamos as ferramentas mais modernas para expandir nossa criatividade para além de
              um papel. Ideias são fundamentais para que algo seja gerado.
            </p>
          </div>
          <div class="col-md-4 text-center">
            <i class="far fa-thumbs-up fa-5x text-danger mb-4"></i>
            <h2 class="text-white mb-3">Qualidade</h2>
            <p class="text-muted">
              Focados em qualidade e entrega, utilizamos o que há de moderno quanto a maquinario, praticas e métodos.
              Entendemos que é possível entregar qualidade com preço adequado.
            </p>
          </div>
          <div class="col-md-4 text-center">
            <i class="far fa-handshake fa-5x text-danger mb-4"></i>
            <h2 class="text-white mb-3">Experiência</h2>
            <p class="text-muted"></p>
          </div>
        </div>
      </div>

      <div class="row text-muted text-center">
        <div class="col m-4">
          <h2 class="display-4 mb-4">Precisa de ajuda? Fale Conosco</h2>
          <div class="underline-dark mb-4"></div>
          <p class="lead">Preencha o formulario abaixo com sua duvida e entraremos em contato.</p>
        </div>
      </div>

      <!-- contact -->
      <section class="contact p-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 pb-4">
              <h3 class="display-4 mb-5 text-white">Preencha o formulario</h3>
              <form class="contact-form">
                <div class="form-group py-4">
                  <input type="text" class="form-control my-2 p-2 input" placeholder="Name" />
                  <label for="name" class="label">Name</label>
                </div>
                <div class="form-group py-4">
                  <input type="email" class="form-control my-2 p-2 input" placeholder="Email Address" />
                  <label for="email" class="label">Email</label>
                </div>
                <div class="form-group py-4">
                  <input type="email" class="form-control my-2 p-2 input" placeholder="Telefone" />
                  <label for="email" class="label">Telefone</label>
                </div>
                <div class="form-group py-4">
                  <input type="email" class="form-control my-2 p-2 input" placeholder="Motivo do Contato" />
                  <label for="email" class="label">Motivo do contato</label>
                </div>
                <div class="form-group py-4">
                  <textarea
                    type="email"
                    class="form-control my-2 p-2 input"
                    placeholder="Explique sua duvida"
                  ></textarea>
                  <label for="email" class="label">Explique sua duvida...</label>
                </div>
                <div class="form-group py-4 my-4">
                  <input type="checkbox" checked /> <label for="check" class="text-white">Send Announcemets</label>
                </div>
                <button type="submit" class="btn btn-block p-2 font-weight-bold text-uppercase submit-button">
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- end of contact -->
    </section>
    <!-- end of mission -->
  </div>
</div>
